<div id="content">
                                <div id="left">
                                        <table>
                                                <tr>
                                                        <td height="89" valign="top" width="10%"><img src="/images/chat.png" alt="chat image" /></td>
                                                        <td>RoundCube Webmail is a browser-based multilingual IMAP client with an application-like user interface. It provides full functionality you expect from an e-mail client, including MIME support, address book, folder manipulation, message searching and spell checking. RoundCube Webmail is written in PHP and requires a MySQL or Postgres database. The user interface is fully skinnable using XHTML and CSS 2. </td>
                                                </tr>
                                                <tr>
                                                        <td height="75" width="10%"><img src="/images/xmpp.png" alt="xmpp image" /></td>
                                                        <td><strong>Other Clients:</strong> You can also access RUmail service from other IMAP clients such as Thunderbird, and Outlook.</td>
                                                </tr>
                                                <tr>
                                                        <td height="84" width="10%"><img src="/images/help.png" alt="help image" /></td>
                                                        <td><strong>Need Help?</strong> Contact the Computing Help Desk on your campus:<br />Camden: 856-225-6274<br />New Brunswick: 732-445-HELP (4357) or by e-mail to helpdesk@nbcs.rutgers.edu<br />Newark: 973-353-5083</td>
                                                </tr>
                                        </table>
                                </div>
                        </div>
