/***** RoundCube|Mail Help task styles *****/

div
{
    font-family: inherit;
    font-size: inherit;
}

p
{
   font-family: inherit;
   font-size: inherit;
}

#mainview-left {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	width: 220px;
}

#mainview-right {
	position: absolute;
	bottom: 0;
	left: 232px;
	right: 0;
	top: 0;
}

#tabsbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	bottom: 0;
}

#tabsbar span.listitem a,
#tabsbar span.tablink a {
	padding-left: 36px;
	background: url(images/listicons.png) -100px 0 no-repeat;
}

#tabsbar span.listitem a,
#tabsbar span.tablink a {
	background-position: 6px -862px;
}

#tabsbar span.selected a,
#tabslist span.tablink.selected a {
	background-position: 6px -862px;
}

#tabsbar span.webtoolsforward a {
	background-position: 6px -887px;
}


#webtools-box
{
    position: absolute;
    bottom: 0;
	top: 0;
    left: 20px;
    right: 20px;
    border: 1px solid #999999;
    overflow: auto;
   	background-color: #F2F2F2;
    /* IE hack */
    height: expression((parseInt(document.documentElement.clientHeight)-190)+'px');
    width: expression((parseInt(document.documentElement.clientWidth)-120)+'px');
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;*/
    padding: 20px;
    font-size: medium;
}

#webtools-box a
{
    color: #0066CC;
}

#webtools-box h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

#webtools-innerbox {
    padding: 20px 10px; 
    margin-left: 8%; 
    margin-right: 8%; 
    min-width: 500px;
}

#webtools-innerbox button
{   
    cursor: pointer;
    padding: 2px 4px;
}

#webtools-innerbox label
{
    color: #797979;
}

#webtools-instructions
{
    margin-top: 10px;
    margin-left: 8%;
    margin-right: 8%;
    #min-width: 500px;
}

#webtools-subhead
{
    margin-left: 8%;
    margin-right: 8%;
    min-width: 500px;
}

#result 
{
    margin-bottom: 10px; 
    margin-left: 8%; 
    margin-right: 8%; 
    min-width: 500px;
}

#webtools-response
{
    padding: 10px;
    font-size: large;
}
