<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Open Systems Support -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><roundcube:object name="pagetitle" /></title>
                <meta name="language" content="en" />
                <meta name="author" content="Rutgers University" />
                <meta name="description" content="Rutgers Webmail" />
                <meta name="keywords" content="webmail, ruwebmail, roundcube" />

                <link rel="stylesheet" type="text/css" href="https://www.nbcs.rutgers.edu/css/style.css" media="screen" />
                <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico" />
		
		
		<script type="text/javascript" src="/includes/browserdetect.js"></script>
		<script type="text/javascript"src="/includes/browserupgrade.js"></script>
		
		<link rel="stylesheet"  type="text/css" href="skins/rutgers/jquery-ui-1.7.2.custom.css" />
		<script type="text/javascript" src="program/js/jquery-1.4.min.js"></script>
		<script type="text/javascript" src="skins/rutgers/jquery-ui-1.7.2.custom.min.js"></script>

		<link rel="stylesheet" type="text/css" href="plugins/webtools/../../skins/rutgers/jquery-ui-1.7.2.custom.css?s=1282758195" />
		<script type="text/javascript" src="plugins/webtools/../../skins/rutgers/jquery-ui-1.7.2.custom.min.js?s=1282758195"></script>
		<script type="text/javascript" src="plugins/webtools/../../skins/rutgers/jquery.pnotify.min.js?s=1282758195"></script>
		<link rel="stylesheet" type="text/css" href="plugins/webtools/../../skins/rutgers/jquery.pnotify.default.css?s=1282758195" />
		

	</head>
	<body>
	 <div id="header">
                <div id="seal"></div>
                <div id="logo"><a href="http://www.rutgers.edu"><img alt="logo" src="https://www.nbcs.rutgers.edu/css/newimages/logo.png" /></a></div>
                <div id="listmenu">

                    <ul>
                        <li><a href="http://webmail.rutgers.edu/">Webmail</a></li>

                        <li><a href="https://email.rutgers.edu/mailman/">Mailman</a></li>
                        <li><a href="https://rams.rutgers.edu/">RAMS</a></li>
                        <li><a href="#">More...</a>
                        <!-- note the proper way to make nested menus w/xhtml...nested list inside of <li> </li> -->

                            <ul>
                                <li><a href="https://rats.rutgers.edu">RATS</a></li>
                                <li><a href="https://rim.rutgers.edu/jwchat/">RIM</a></li>
                                <li><a href="http://rpm.rutgers.edu/">RPM</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <div id="search">
                <form method="get" action="http://www.google.com/u/rutgerz"
id="gs">
                                        <fieldset>

                    <input type="hidden" name="hl" value="en" />
                    <input type="hidden" name="lr" value="" />
                    <input type="hidden" name="ie" value="ISO-8859-1" />
                    <label for="q">Search: </label><input type="text" id="q" name="q" size="10" maxlength="2048" value="" />

                    <input id="go_button" type="image" src="https://www.nbcs.rutgers.edu/css/newimages/gobutton.gif" alt="Submit button" />
                                        </fieldset>
                                </form>
            </div>

                <div id="link_line">
                    <a href="http://css.rutgers.edu/">CSS Home</a> | <a href="http://www.rutgers.edu/">Rutgers Home</a> | <a href="http://search.rutgers.edu/">Search</a>

                </div>
                <div id="menu"><roundcube:include file="/templates/header.html" /></div>
            </div>
		<div id="main">
			<div id="right_boxes">
					<iframe src ="skins/rutgers/rss/cssnews.html" style="border:0;" width="310px" scrolling="no" frameBorder="0">
  						<p>Your browser does not support iframes.</p>
					</iframe>
				
				                 <div id="right_middle">
                                        <div id="login-outer">
                                                                        <div id="login-box">
                                                                                                <div id="login-top-center">Sign in to Webmail</div>
                                                                                        <div id="login-poweredby">Powered by <a href="http://www.roundcube.net/">Roundcube</a></div>
                                                                                                        <table id="login-fields" border="0">
                                                                                                                 <form name="form" action="./" method="post">
                                                                                                                        <tr><td><b><roundcube:object name="message" id="loginmessage" /></b></td></tr>
                                                                                                                        <tr><td><roundcube:object name="loginform" form="form" /></td></tr>
                                                                                                                        <tr><td><center><input value="Login" type="submit" /></center></td></tr>
                                                                                                                </form>
                                                                                                     </table>
											    System Maintenance is every Tuesday and Thursday (6-8am)
                                                                        </div>
                                        </div>
                                </div>
 
				
					<iframe src ="skins/rutgers/rss/webmailnotes.html" style="border:0;" width="310px" scrolling="no" frameBorder="0">
                                                <p>Your browser does not support iframes.</p>
                                        </iframe>
			</div>
			<roundcube:include file="/templates/content.html" />
		</div>
		 <div id="footer">
		<roundcube:include file="/templates/footer.html" />
		</div>

<roundcube:object name="preloader" images="
  /images/ajaxloader.gif  
  /images/buttons.png
  /images/addcontact.png
  /images/filetypes.png
  /images/listicons.png
  /images/messages.png
  /images/quota.png
  /images/selector.png
  /images/splitter.png
  /images/watermark.png
" />

<script type="text/javascript">document.write("<div id='welcome_modal' title='Browser Upgrade Required' style='display: none'>Please upgrade your browser to a newer version to view the pages correctly.</div>"); </script>
<script type="text/javascript"> if (BrowserUpgrade.needupgrade) { $(document).ready(function() {$('#welcome_modal').dialog ({ modal:true, resizable:false, buttons: { Close:function() { $(this).dialog('close');}  }}); });}</script>
	</body>
</html>
