/***** RoundCube|Mail address book task styles *****/


#adrbarTop {
	position: absolute;
	top: 75px;
	left: 12px;
	right: 12px;
	height: 8px;
	font-size: 1px;
	background: #f3f8ff url(images/toolbarTop_bg.gif) top left repeat-x;
	min-width: 640px;
	/* IE fix */
	width: expression((parseInt(document.documentElement.clientWidth)-24)+'px');
}

#adrbarTopL {
	float: left;
	font-size: 1px;
	width: 8px;
	height: 8px;
	background: url(images/toolbarTopL.gif) top left no-repeat;
}

#adrbarTopR {
	float: right;
	font-size: 1px;
	width: 8px;
	height: 8px;
	background: url(images/toolbarTopR.gif) top right no-repeat;
}

#addressTop {
	position: absolute;
	top: 75px;
	left: 12px;
	width: 440px;
	height: 8px;
	font-size: 1px;
	background: #f3f8ff url(images/toolbarTop_bg.gif) top left repeat-x;
}

#addressTopL {
	float: left;
	font-size: 1px;
	width: 8px;
	height: 8px;
	background: url(images/toolbarTopL.gif) top left no-repeat;
}

#addressTopR {
	float: right;
	font-size: 1px;
	width: 8px;
	height: 8px;
	background: url(images/toolbarTopR.gif) top right no-repeat;
}


#abooktoolbar {
	position: absolute;
	top: 70px;
  	left: 13px;
  	right: 13px;
	height: 30px;
	white-space: nowrap;
	/*background: #bd0e2e;*/
	padding: 0px 12px 4px 283px;
        /*border-top: 1px solid #C0BDB2;
  	border-left: 1px solid #C0BDB2;
  	border-right: 1px solid #C0BDB2; */
	border-bottom: 1px solid #000;
	overflow: hidden;
	/* IE fix */
	width: expression((parseInt(document.documentElement.clientWidth)-321)+'px');
 	/*-moz-border-radius-topleft:10px;
      -webkit-border-top-left-radius:10px;
      -moz-border-radius-topright:10px;
      -webkit-border-top-right-radius:10px;*/
    font-weight: normal;
}

#abooktoolbar a
{
 	display: block;
	float: left;
	margin-right: 8px;
	padding: 3px;
	padding-right: 6px;
  	text-decoration: none;
  	font-size: 11px;
  	color: #fff;
        border: 1px solid transparent;
}

#abooktoolbar a:hover {
	background: #ffffff url(images/buttons/btn_bg.gif) bottom left repeat-x;
	color: #000;
        border: 1px solid #c0bdb2;

}

#abookcountbar
{
  position: absolute;
  bottom: 16px;
  left: 225px;
  width: 240px;
  height: 20px;
  text-align: left;
}

#abookcountbar span
{
  font-size: 11px;
  color: #333333;
}

#addressscreen
{
  position: absolute;
  top: 125px;
  right: 20px;
  bottom: 40px;
  left: 225px;
}

#directorylistbox
{
  position: absolute;
  top: 125px;
  bottom: 40px;
  left: 20px;
  width: 195px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: hidden;
}

#directorylistwarp
{
  position: absolute;
  top: 20px;
  bottom: 22px;
  left: 0;
  right: 0;
  overflow: auto;
}

#groups-title
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#directorylistbox input
{
  display: absolute;
  margin: 2px;
}

#directoylistbuttons
{
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 22px;
  border-top: 1px solid #999;
  background: url('images/listheader.gif') top left repeat-x #CCC;
}

#directoylistbuttons a.button,
#directoylistbuttons a.buttonPas
{
  display: block;
  float: left;
  width: 34px;
  height: 22px;
  padding: 0px;
  margin: 0;
  overflow: hidden;
  background: url('images/icons/groupactions.png') 0 0 no-repeat transparent;
  opacity: 0.99; /* this is needed to make buttons appear correctly in Chrome */
}

#directoylistbuttons a.groupactions {
  background-position: 0 -26px;
}

#directoylistbuttons a.buttonPas {
  opacity: 0.35;
}

#addresslist
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: auto;
}

#contactgroupslist
{
  border-top: 1px solid #999;
}

#importbox
{
  position: absolute;
  top: 85px;
  bottom: 40px;
  left: 20px;
  right: 20px;
  border: 1px solid #999999;
  background-color: #F2F2F2;
  padding-bottom: 4ex;
  overflow: auto;
}

#addresslist
{
  left: 0px;
  width: 280px;
}

#importbox a
{
  color: blue;
}

#directorylist
{
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

/** Do not display LDAP Groups for rutgers CSS or ess */
#directorylist #rcmliIDMS{
  display: none;
}

#directorylist #rcmlildapnbcs{
  display: none;
}
/*END of ldap group hide**/

#directorylist li
{
  display: block;
  font-size: 11px;
  background: url(images/icons/foldersnew.png) 5px -108px no-repeat;
  border-bottom: 1px solid #EBEBEB;
  white-space: nowrap;
}

#directorylist li a
{
  cursor: default;
  display: block;
  padding-left: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  white-space: nowrap;
}

#directorylist li.contactgroup
{
  background-position: 5px -144px;
}

#directorylist li.selected
{
  background-color: #929292;
  border-bottom: 1px solid #898989;
}

#directorylist li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#directorylist li.droptarget
{
  background-color: #FFFFA6;
}

#contacts-table
{
  width: 100%;
  table-layout: fixed;
}

#contacts-table tbody td
{
  cursor: default;
}

#contacts-box
{
  position: absolute;
  top: 0px;
  left: 290px;
  right: 0px;
  bottom: 0px;
  border: 1px solid #999999;
  overflow: hidden;
}

#bluebox
{

}

body.iframe,
#contact-frame
{
  background-color: #F2F2F2;
}

#contact-frame
{
  border: none;
}

#contact-details table td.title
{
  font-weight: bold;
  text-align: right;
}


#quicksearchbar a
{
        text-decoration: none;
}

#quicksearchbar a:hover {
	background: none;
	border: none;
}
